@page
@model ATMManagementApp.Pages.Admin.AssignModel
@{
}

<style>
    .widget-container {
        width: 60%; /* Adjust the width as needed */
        margin: 0 auto; /* Center the widget */
        background-color: #E96479; /* Background color for the widget */
        border-radius: 10px; /* Rounded corners */
        padding: 10px; /* Add padding */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
    }

    .table1 {
        width: 100%; /* Make table width 100% of its container */
    }

        .table1 th, .table1 td {
            padding: 10px; /* Add padding to cells */
            text-align: left; /* Align text to the left */
        }

        .table1 th {
            background-color: #ddd; /* Header background color */
        }

       /* .table1 tbody tr:nth-child(even) {
            background-color: #f9f9f9; /* Alternate row background color 
        }*/

</style>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Unassigned Investigations</h3>
            <div class="widget-container">
                <table class="table1">
                    <thead>
                        <tr>
                            <th>Reference Num</th>
                            <th>Purpose</th>
                            <th>Date Started</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.unassignedList)
                        {
                            <tr>
                                <td>@item.referenceNum</td>
                                <td>@item.purpose</td>
                                <td>@item.investigationStartDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <form method="POST">
                @if (Model.errorMessage.Length > 0)
                {
                    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                        <strong>@Model.errorMessage</strong>
                        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                    </div>
                }
                <div class="mb-3">
                    <label class="form-label">Reference Num</label>
                    <input type="text" class="form-control" name="referenceNum" value="" />
                </div>
                @if (Model.successMessage.Length > 0)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>@Model.successMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Assign</button>
                </div>
                <div class="d-grid mt-3">
                    <a class="btn btn-outline-primary" href="/Admin/AuditorPage/" role="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

